* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--primery-color);
  margin: 30px;

  max-width: 1000px;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; */
  border: 2px solid #000;
  border-radius: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 190px;
  padding: 50px;
}

:root {
  --primery-color: #00ffff;
  --card-color: #54b6f8;
  --hover-color-back: #0000ff;
  --hover-color-font: #fff;
  --nav-color: #cccccc;
}
