* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  line-height: 1.5;
  background-color: aqua;
  margin: 30px;
  width: 1200px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; */
  border: 2px solid #000;
}

header {
  font-size: 2rem;
  text-align: center;
  border-bottom: 3px solid #000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
  width: 500px;
  height: 500px;
  background-color: rgb(139, 195, 233);
  border: 3px double #000;
  padding: 50px;
}

button {
  width: 200px;
  height: 50px;
}

button:hover {
  background-color: blue;
  color: #fff;
  font-size: larger;
}
